// T7: literal vs constructor equivalence
try{

    const re1 = /$regex2_slash/$flag2;

    const t_compile_start = performance.now();
    const re2 = new RegExp("$regex", "$flag");
    const t_compile_end = performance.now();

    const input = "$input";

    const t_exec_start = performance.now();
    console.log(re1.test(input) === re2.test(input));
    const t_exec_end = performance.now();

    console.log("COMPILE_MS:", t_compile_end - t_compile_start);
    console.log("EXEC_MS:", t_exec_end - t_exec_start);
} $catch
